/* ICONS */
.bxs-cat:hover{
    cursor: pointer;
}

/* ICON COLORS */

.bxl-html5 {
    color: #e34c26;
}

.bxl-css3 {
    color: #264de4;
}

.bxl-javascript {
    color: #ecd32c;
}

.bxl-tailwind-css{
    color: #07B0CE;
}

.bxl-react {
    color: #61DBFB;
}

.bxl-java {
    color: #f89820;
}

.bxl-sass {
    color: #cc6699;
}

.bxl-redux {
    color: #764ABC;
}

.bxl-typescript {
    color: #2D79C7;
}

.bxl-spring-boot {
    color: #67AA3C;
}

.bxl-microsoft-teams {
    color: #595CB1;
}

.bxl-aws {
    color: #FF9C08;
}

.bxl-figma {
    color: #b85eff;
}

.bxl-nodejs {
    color: #68A063;
}

.bxl-python {
    color: #3F76A5;
}

.bxl-php {
    color: #787CB4;
}

.bxl-mongodb{
    color: #449A45;
}

.bxl-gitlab {
    color: #FFA122;
}

.bxl-git {
    color: #E84E31;
}

.bxl-visual-studio{
    color: #207DB3;
}

.bxs-cat {
    color: #0B090C;
}

.materialUI{
    width: 40px;
}
